.imgBox {
  @apply h-[28rem] w-[20rem] overflow-hidden rounded-3xl relative max650:h-[26rem];
}

.imgBox::after {
  content: "";
  @apply absolute top-0 left-0 w-full h-full bg-black/25 z-1;
}

.home img {
  @apply object-fill select-none transition-transform duration-300 ease-in-out;
}

.hoursTable th,
.hoursTable td {
  padding: 0.5rem 1rem;
  border: 0.1rem solid #ddd;
}

.hoursTable th {
  background-color: #f4f4f4;
  color: rgb(211, 114, 3);
  font-weight: 500;
}

.hoursTable tr:nth-child(even) {
  background-color: #eeeeee;
}
