/* #root * {
  border: 0.2rem solid yellow;
} */

#root {
  width: 100vw;
  height: 100vh;
  background: white;
  color: black;
  font-family: "Fredoka", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.03rem;
  position: relative;
  overflow-x: hidden;
}

button {
  font-size: 1rem;
}
